<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decorhat | Your Order Is Delivered.</title>
  </head>
  <body>
    <h1>Hey <strong><%=shippingAddress.name%></strong></h1>
    <p>Your order is delivered.</p>

    <h2>Order Details</h2>
    <p>Jazakumullah khair to stay with us.</p>
  </body>
</html>