<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decorhat | An Order Is Placed.</title>
  </head>
  <body>
    <h1>New Order Arrived!</h1>
    <h1><strong>customer name : </strong><%=shippingAddress.name%></h1>

    <h2>Order Details</h2>
    <p><strong>orderId : </strong> <%=order.id%></p>
  </body>
</html>
