<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decorhat | An Order Is Placed.</title>
  </head>
  <body>
    <h1>Hey <strong><%=shippingAddress.name%></strong></h1>
    <p>an order has been placed at DECORHAT.</p>

    <h2>Order Details</h2>
    <p><strong>orderId : </strong> <%=order.id%></p>
  </body>
</html>
