<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decorhat | Your Order Is Shipping now.</title>
  </head>
  <body>
    <h1>Hey <strong><%=shippingAddress.name%></strong></h1>
    <p>Your Order is on the way, We give it to courier, IngshaAllah your product will reach you very soon!</p>

    <h2>Order Details</h2>
    <p><strong>orderId : </strong> <%=order.id%></p>
  </body>
</html>
